body{
    height: 100%;
    width: 100%;
}
.padre{
    display: flex;
    align-self: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    height: 80px;
  }
  

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    float: left; /* Una forma de centrar  */
    font-family: 'Roboto', sans-serif;
}
.home{
    margin-left: -305px;
    margin-top: 13px;
}
.generos{
    margin-left: -185px;
    margin-top: 13px;
}

.favorite{
    margin-left: -45px;
    margin-top: 13px;
}
.logo{
    width: 16%;
    height: 16%;
    margin-left: -70%;
    margin-top: -2%;
}

.buscador{
    width: 220px;
    height: 15px;
    margin-top: 18px;
    margin-left: 50px;
    background-color:antiquewhite;
    border-radius: 25px;
    color: darkgray;
    text-align:left;


}

