body{ /*todos los html*/
    height: 100%;
    width: 100%;
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*CSS del nav*/
.todoelnav { /*todos los html (nav)*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    height: 120px;
    background-color: black;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    float: left; /* Una forma de centrar  */
    font-family: 'Roboto', sans-serif; 
}
  

.lista_nav { /*todos los html (nav)*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    float: left; /* Una forma de centrar  */
    font-family: 'Roboto', sans-serif;
}
.home{ /*todos los html (nav)*/
    margin-left: -305px;
    margin-top: 30px;
}
.generos{ /*todos los html (nav)*/
    margin-left: -185px;
    margin-top: 30px;
}

.favorite{ /*todos los html (nav)*/
    margin-left: -45px;
    margin-top: 30px;
}
.logo{ /*todos los html (nav)*/
    width: 16%;
    height: 16%;
    margin-left: -70%;
    margin-top: 0%;
    border-radius: 100px;
}

.buscador{ /*todos los html (nav)*/
    
    width: 220px;
    height: 30px;
    margin-top: 40px;
    margin-left: 300px;
    background-color:darkgray;
    border-radius: 25px;
    color: black;
    text-align:left;
}


/*CSS de index*/
.titulo{ /*los titulos principales de la home page*/
    font-family: 'Roboto', sans-serif;
    margin-left: 40px;
    font-size: 30px;
}

.titulo2y3{ /*los titulos principales de la home page y de la pagina de generos*/
    font-family: 'Roboto', sans-serif;
    margin-left: 40px;
    margin-top:50px;
    font-size: 30px;
}


.portadaCard{ /*bloque del cuadrado de las peliculas en index*/
    height: 443px;
    width: 250px;
    background-color:black;
    margin-left:30px;
    border-radius: 8px;
    box-shadow:5px 10px rgb(243, 202, 162);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.portada{ /*foto de las peliculas en index*/
    height: 300px;
    width: 180px;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
}

.portada:hover{ /*para que se agrande la imagen cuando pasas el mouse por arriba*/
    width: 200px;
    height: 350px;
}

.texto-info{ /*titulo de las peliculas en todos los html*/
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-top: 3px;
    text-align: center;
    margin-bottom: 0;
    color: white;
}

.texto-año{ /*año de las peliculas en todos los html*/
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    color: white;
}

.cards{ /*para poner una pelicula al lado de la otra en la primer fila*/
    display: flex;
}

.cards2{ /*para poner una pelicula al lado de la otra en la segunda fila*/
    display: flex;
    margin-top: 40px;
}

.cards3{ /*para poner una pelicula al lado de la otra en la tercer fila*/
    display: flex;
    margin-top: 40px;
}


/*CSS de detalle de series y peliculas*/
.padre{ 
    display: flex;

}
.hijo2{
    margin-left: 10px;
} 
    
.miul{
    height: 420px;
    display: flex;
    flex-direction: column;
    text-decoration: none;  
}

.miul li{
    font-size: 25px;
}

.portadatom{
    height: 58vh;
    width: 41vh;
    border-radius: 25px;
}

.titulotomfriends{
    margin-left: 101px;
    font-size: 50px;
    margin-top: 0%;
}

.titulotomgru{
margin-left: 56px;
}

.trailer{
    color: red;
    font-size: 50px;    
}

.generoitem{ /* Sacarle el color y el subrayado al link del genero*/
    text-decoration: none;
    color: black;
}

/*CSS html de generos*/
.generosPeliculas{
    display: flex;
}

.generosPeliculas2{
    display: flex;
    margin-top: 50px;
}

.generosSeries{
    display: flex;
}

.generosSeries2{
    display: flex;
    margin-top: 50px;
}

.boxGeneros{
    height: 50px;
    width: 250px;
    background-color:black;
    margin-left:30px;
    border-radius: 8px;
    box-shadow:5px 10px rgb(243, 202, 162);
}

.boxGeneros:hover {
    height: 40px;
    width: 240px;
}
.titulosGeneros{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    float: center;
    display: block;
    padding: 14px 16px;
    color: rgb(186, 145, 104);
}

.variostitulosprincipales{
    font-size: 30px;
}


/* CSS de Favorite, search y detalle de generos*/
.conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    border: 15px;
    height: 650px;
    border-radius: 8px;
}

.alvin1{ /*foto de las portadas de los html de favoritos, search y detalle de generos*/
    height: 280px;
    align-self: center;
    width: 230px;
    border-radius: 15px;
    display: flex;
}

.portadaFavoritos{ /*este sirve para el html de favoritos, de search y detalle de generos*/
    height: 420px;
    width: 290px;
    background-color:black;
    border-radius: 8px;
    box-shadow:5px 10px rgb(243, 202, 162);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alvin1:hover{
    height: 330px;
    width: 270px;
}
.ocultar { /*solo afecta al html de search*/
    display: none; 
}


/*CSS del footer de todos los html*/
.padreFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer{
    font-size: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-left: 750px;
}

/* responsive con media queris*/

@media (max-width: 420px) { 
    body{
        height: 100%;
        width: 100%;
        background: #3A1C71;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
        background-repeat: no-repeat;
    }

    .todoelnav {
        height: 160px;
        width: fit-content;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    
    li a{
        font-size: 15px;
    }

    .home{
        margin-top: 15px;
    }

    .generos{
        margin-top: 15px;
    }

    .favorite{
        margin-top: 0px;
        margin-left: 110px;
    }

    .buscador {
        width: 110px;
        height: 15px;
        margin-top: 20px;
        margin-left: 30px;
    }

    .titulo{
        margin-left: 20px;
        font-size: 15px;
    }

    .titulo2y3 {
        margin-left: 20px;
        margin-top: 25px;
        font-size: 15px;

    }

    .cards{ /*para poner una pelicula al lado de la otra en la primer fila*/
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .portadaCard {
        height: 220px;
        width: 125px;
        margin-left: 15px;
        box-shadow: 3px 5px rgb(243, 202, 162);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


    }

    .portada{
        height: 160px;
        width: 100px;
        margin-top: 10px;

    }

    .texto-info{
        font-size: 15px;
        margin-top: 1px;

    }

    .texto-año{
        font-size:10px;

    }

    .cards2{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }

    .cards3{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .padre {
        display: flex;
        flex-direction: column;
    }


    .hijo2{
        margin-left: 5px;

    }

    .miul{
        height: 30px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        height: 77vh;
        width: 41vh;

    }

    .imgcalificacion{
        height: 10px;
    }
    .miul li {
        font-size: 15px;
    }

    .titulotomfriends{
        font-size: 25px;
        margin-left: 20px;

    }

    .titulotomgru{
        margin-left: 20px;
        font-size: 25px;

    }

    .portadatom{
        margin-left: 90px;
    }

    .trailer{
        font-size: 20px;
    }

    .generosPeliculas2{
        margin-top: 20px;
    }

    .generosSeries2{
        margin-top: 20px;
    }

    .boxGeneros{
        height: 20px;
        width: 100px;
        margin-left: 10px;
        box-shadow: 2px 4px rgb(243, 202, 162);

    }

    .titulosGeneros{
        font-size: 7px;
        padding: 6px 8px;

    }

    .variostitulosprincipales{
        font-size: 25px;

    }

    .conteiner{
        display: flex;
        flex-direction: column;
        border: 5px;
        align-items: center;
        height: 500px;

    }

    .alvin1{
        height: 120px;
        width: 110px;
    }

    .portadaFavoritos{
        height: 200px;
        width: 140px;
        box-shadow: 2px 4px rgb(243, 202, 162);
        display: flex;
        flex-direction: column;

    }

    .footer{
        font-size: 8px;
        margin-left: 250px;
    }
    .padreFooter{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .imgdigital{
        height: 30px;
        width: 90px;
    }

}
